
html {
    margin: 0;
}

body {
    font-family: 'Shantell Sans', sans-serif;
    background-image: url(./assets/img/bg-img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
    
}
/* header */

.logo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo-header > img {
    width: 80px;
    flex: 1;
}

.logo-bottom {
    flex: 2

}
h1 { 
    padding: 0;
    margin: 0;   
    font-size: 60px;
    background: #FFFFFF;
    background: linear-gradient(to right, #FFFFFF 0%, #FF0A0A 51%, #48CFCF 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 7px 9px 12px rgba(136,47,47,0.6);
    text-align: center;
}

.up-down {
    position: fixed;
    right: 10px;
    top: 50vh;
    
}

.up-down a {
    text-decoration: none;
    margin-top: 4px;
    display: flex;
}

.up-down a i {
    padding: 15px;
    border-radius: 6px;
    background-color: #fff;
    color: #FF0A0A;

}

 .button-85 {
    margin-right: 15px;
 }

 .button-85 span {
    font-family: 'Shantell Sans', sans-serif;

 }

.image {
    width: 334px;
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-items: center;
    
}

.area-img {

    padding: 10px;
    width: 100%;
    background: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 46px -2px rgba(0,0,0,0.56);
-webkit-box-shadow: 0px 1px 46px -2px rgba(0,0,0,0.56);
-moz-box-shadow: 0px 1px 46px -2px rgba(0,0,0,0.56);
}

.bottom {
    margin-top: 15px;
    width: 80%;
    height: 2px;
    background-color: #ccc;
}

.like {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.like .fa-heart {
    color: red;
}

.like .fa-comment-dots ,.like .fa-share, span {
    color: #777
}

.like span {
    margin-left: 4px;
}

.block1 , .block2 , .block3 {
    cursor: pointer;
}
.block2 {
    margin: 0px 2px;
}

.like span {
    margin-left: 4px;
}

.logo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image img {
    border-radius: 20px;
    width: 100%;
    height: 200px;
    object-fit: cover;


}

.footer h1 {
    font-size: 30px;
}


/* form */

.form {
    padding: 40px;
}

.form .info {
    margin-top: 4px;
    padding: 8px;
    border-radius: 8px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}


.form .avatar {
    flex: 1;
    display: flex;
    align-items: center;
}

.form .avatar img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.form .content {
    width: 100%;
}

.info label {
    color:  #fff;
    font-size: 14px;
    width: 80px;
}

.info .input {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.info .input input {
    flex: 1;
    outline: none;
    border: 1px solid #7a00ff;
    border-radius: 6px;
    height: 30px;
    text-align: center;
    font-family: inherit; 
    color:  #7a00ff;
}


.form .content {
    flex: 3;
}


/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: #fff;
  background: #cb5555;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fa8282;
  left: 0;
  top: 0;
  border-radius: 10px;
}